---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Gallery from "../components/Gallery.astro";
---

<Layout title="Cindercinthesis — Concert and Sports Photographer & Videographer" description="Cindercinthesis is a concert and sports photographer & videographer based in New York City.">
  <main>
    <Header />
    <div class="about-container">
      <div>
        <div>
          <p style="font-size: 25px;">Cindercinthesis is an award winning photographer and videographer in New York City and beyond.</p>
        </div>
        <div>
          <p>
            He spent four years living in Nashville, where he served as the Creative Media Director at <a href="https://lightsonthelawn.org" target="_blank">Lights on the Lawn</a>, Nashville's
            flagship charity concert, and as the Photography Director at the <a href="https://vanderbilthustler.com" target="_blank">Vanderbilt Hustler</a>, the student newspaper of his alma mater.
            During that time he covered a variety of shows for his outlet, and collaborated with numerous artists during their stops in Nashville. In addition to his own creative work, he has led
            teams that have won numerous awards for their coverage packages during his time in Nashville.
          </p>
          <!-- <p>I'm an alumnus&nbsp;of&nbsp;Vanderbilt University, where I worked as&nbsp;the Photography Director at The Vanderbilt Hustler, and freelanced&nbsp;around the Nashville area. I now work at Microsoft in New York City as a Software Developer, and have continued working in the creative media space, capturing photo and video to document shows here in the city and nationwide.&nbsp;</p> -->
        </div>
        <div>
          <p>
            After graduating and moving to NYC, Josh now works at Microsoft in the city, on a product designed to enable project coordination and collaboration at every level. He has continued working
            in creative media, collaborating with artists visiting NYC to document their shows, as well as traveling nationwide to provide his services wherever needed.
          </p>
          <!-- <p>I primarily shoot events in the electronic music space, for artists and venues of all sizes. I've worked with artists visiting my cities, as well as traveled to work with artists on tour to arrange coverage of events, create promotional photos, and cater to any photo/video content-related needs.&nbsp;</p> -->
        </div>
        <!-- <div>
          <p class="client-list">
            Some shows captured include:
            <br>- John Summit Hometown Shows (Popup, N1, Afters)
            <br>- Mau P at The Caverns
            <br>- Multiple artists at Arc Music Festival
            <br>- Various artists at Marathon Music Works in Nashville
            <br>- ALEX || RAYNE MUSIC at Lights on the Lawn Festival Nashville
            </p>
          </div> -->
        <div>
          <p>
            Josh's work has been recognized by artists, outlets, and award organizations as high-quality. Artists at every level have used his photographs and video for promotional materials, social
            media. News outlets such as <a href="https://apnews.com/article/covid-politics-health-soccer-sports-3ea64a2321a9ce1eabc8d757140c0988" target="_blank">the Associated Press</a>, <a
              href="https://time.com/6975991/campus-protests-student-photojournalists-cover-story/"
              target="_blank">TIME Magazine</a
            >, and <a href="https://www.goodmorningamerica.com/living/video/elite-athlete-opens-pressure-best-84052634" target="_blank">NBC</a> have published his content in print, online, and on TV segments.
          </p>
          <!-- <p>Over 500 of my photos have been used in published news outlets, including <a href="https://apnews.com/article/covid-politics-health-soccer-sports-3ea64a2321a9ce1eabc8d757140c0988" target="_blank">by the Associated Press</a>, <a href="https://time.com/6975991/campus-protests-student-photojournalists-cover-story/" target="_blank">TIME Magazine</a>, <a href="https://pressfreedomtracker.us/all-incidents/tennessee-reporter-arrested-while-covering-student-protest-against-israel-gaza-war/" target="_blank">U.S. Press Freedom Tracker</a>,&nbsp;as well as on televised&nbsp;segments of <a href="https://www.msnbc.com/morning-joe/watch/how-vanderbilt-university-balances-free-speech-and-safety-209688133888" target="_blank">MSNBC's Morning Joe</a>&nbsp;and&nbsp;<a href="https://www.goodmorningamerica.com/living/video/elite-athlete-opens-pressure-best-84052634" target="_blank">NBC's&nbsp;Good Morning America</a>.</p> -->
        </div>
        <div>
          <p>
            Josh is available for hire for media coverage of concerts, festivals, and tours, as well as sports and other creative projects. Reach out via phone or email and he will be in touch to
            discuss.
          </p>
          <!-- <p>If you're interested in coverage of a concert or event, live coverage of sports,&nbsp;or pursuing any other creative project, reach out to me via phone or email, and I'll get back to you quickly to discuss further!</p> -->
        </div>
        <div>
          <p>
            Email: <a href="mailto:josh@rehders.photos" target="_self">josh@rehders.photos</a>
            <br />
            Phone: <a href="tel:832-405-8765" target="_self">832-405-8765</a>
          </p>
        </div>
      </div>
    </div>
  </main>
</Layout>
