---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Gallery from "../components/Gallery.astro";
---

<Layout title="Cindifer" description="Oh to exist!">
  <main>
    <Header />
    <Gallery class:list={"gallery"} folder="photography-front" filter="image" />
  </main>
</Layout>
