---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Gallery from "../components/Gallery.astro";
---

<Layout title="Cindercinthesis — Concert and Sports Photographer & Videographer" description="Cindercinthesis is a concert and sports photographer & videographer based in New York City.">
  <main>
    <Header />
    <Gallery folder="concerts" filter="video" />
  </main>
</Layout>
